# Ignore specific project folders
**00_SS/
**01_Datasets/
**02_Functions_CRR/
# 03_ST_Arrows/
2025/251311.00 GPEI SMP/SMUs/04_SMU_Maps/Southeast/04_SMU_Strategies/Epochs/method_9-V2/Strategy_Long_Term/Southeast_Strategy_Long_Term_method_9-V2.html
2025/251311.00 GPEI SMP/SMUs/04_SMU_Maps/Southeast/04_SMU_Strategies/Epochs/method_9-V2/Strategy_Short_Term/Southeast_Strategy_Short_Term_method_9-V2.html
2025/251311.00 GPEI SMP/SMUs/04_SMU_Maps/Southeast/04_SMU_Strategies/Epochs/method_9-V2/Strategy_Medium_Term/Southeast_Strategy_Medium_Term_method_9-V2.html
